body {
  font-family: Arial;
}

#tree-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.person {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.person img {
  width: 100%;
  border-radius: 8px;
}
